button {
    font-size:15px;
    width: 150px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: #2f05a1;
    border-width: 5px;
}

.counterButton {
    background-color: #00a5ab;
}

.resetButton {
    background-color: bisque;
}

.count {
    font-size: 100px;
    padding: 2px;
}

.totalCount {
    color: #00a5ab;
    font-size: 150px;
}